#mycanvas{
    border: 5px solid cornflowerblue;
}

.pencil {
    border: 1px solid black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.pencil:hover {
    background-color: crimson;
    color: cornsilk;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.eraser {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.eraser:hover{
    background-color: mediumspringgreen;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.clear {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.clear:hover {
    background-color: lightcoral;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.line {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.line:hover {
    background-color: chartreuse;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.undo {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-family: Calibri;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

.undo:hover {
    background-color: mediumslateblue;
    border: 0px;
    padding: 10px 15px;
    font-style: italic;
    cursor: pointer;
}

.redo {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-family: Calibri;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.redo:hover {
    background-color: midnightblue;
    color: mintcream;
    border: 0px;
    padding: 10px 15px;
    font-style: italic;
    cursor: pointer;
}

.rect {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

.rect:hover {
    background-color: cadetblue;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.circle {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}

.circle:hover {
    background-color: violet;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.triangle {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 5px;
}

.triangle:hover {
    background-color: gold;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

.typer {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 3px;
}

.typer:hover {
    background-color: steelblue;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

#filledrectangle {
    margin-left: 20px;
}

#filledcircle {
    margin-left: 10px;
}

#filledtriangle {
    margin-left: 10px;
}

.fill {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px 20px;
    font-family: Calibri;
    font-size: 20px;
    margin-top: 0px;
}

.fill:hover {
    background-color: midnightblue;
    color: cornsilk;
    border: 0px;
    padding: 10px 25px;
    font-style: italic;
    cursor: pointer;
}

#palette {
    background-color: wheat;
    border: 1px solid black;
    height: 25px;
    width: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

#down {
    width: 70px;
    height: 40px;
    border: 2px solid saddlebrown;
    margin-left: 10px;
    margin-top: 5px;
    background-image: url("download.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#up {
    width: 70px;
    height: 40px;
    border: 2px solid saddlebrown;
    margin-left: 10px;
    margin-top: 5px;
    background: url("upload.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#typewriter {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 15px;
}

#fontsize {
    margin-right: 5px;
}

#fontstyle {
    margin-right: 5px;
}
